* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #0072e1;
  --light-color: #eef3f9;
}

.body {
  max-width: 1920px;
  min-width: 320px;
  background: url("/assets/img/background-header.jpg") no-repeat;
  background-size: 1920px 877px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  background-color: #ffffff;
}

.container {
  margin: 0 390px;
}

.header {
  display: flex;
  padding-top: 70px;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}

.menu__icon {
  width: 40px;
  height: 29px;
}

.menu__description {
  margin-left: 10px;
}

.logo {
  width: 240px;
}

.header__title {
  font-size: 1.2em;
  line-height: 26px;
}

.header__contact {
  max-width: 272px;
  width: 100%;
  height: 55px;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.2em;
  border: 0;
  border-radius: 10px;
}

/* preview */

.preview {
  padding-top: 20px;
}

.preview__title {
  max-width: 600px;
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
  line-height: normal;
}

.preview__desc {
  padding-top: 17px;
  font-size: 22px;
  line-height: 36px;
}

.preview__stats-container {
  max-width: 600px;
  padding-top: 47px;
  padding-bottom: 47px;
  display: flex;
  flex-wrap: wrap;
}

.preview__stats-item {
  display: flex;
  align-items: center;
  padding-right: 50px;
  max-width: 243px;
}

.stats__item-number {
  font-size: 80px;
  line-height: 131px;
}

.stats__item-desc {
  font-size: 0.85em;
  line-height: 26px;
  padding-left: 10px;
}

.preview__cta {
  max-width: 360px;
  width: 100%;
  height: 70px;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.2em;
  border: 0;
  border-radius: 10px;
}

/* services */

.services {
  padding-top: 120px;
}

.services__title {
  font-size: 35px;
  line-height: 48px;
  text-align: center;
}

.services__container {
  padding-top: 30px;
  display: grid;
  height: 610px;
  max-width: 1140px;
  grid-template-columns: 374px 374px 374px;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "item-1 item-2 item-3"
    "item-1 item-4 item-4";
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: var(--light-color);
  padding-bottom: 20px;
}

.services__item-1 {
  grid-area: item-1;
  background-image: url("/assets/img/services-item-1.jpg");
}

.services__item-2 {
  grid-area: item-2;
  background-image: url("/assets/img/services-item-2.jpg");
}

.services__item-3 {
  grid-area: item-3;
  background-image: url("/assets/img/services-item-3.jpg");
}

.services__item-4 {
  grid-area: item-4;
  background-image: url("/assets/img/services-item-4.jpg");
}

.services__item-title {
  font-size: 22px;
  line-height: 33px;
}

.services__cta {
  margin-top: 20px;
  max-width: 320px;
  width: 100%;
  height: 70px;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.2em;
  border: 0;
  border-radius: 10px;
}

/* portfolio */

.portfolio {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__title {
  font-size: 35px;
  line-height: 48px;
}

.portfolio__desc {
  padding-top: 17px;
  font-size: 22px;
  line-height: 36px;
}

.portfolio__filter-container {
  list-style: none;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.portfolio__filter {
  display: flex;
  width: 229px;
  height: 60px;
  border: 2px solid #F6F6F6;
  justify-content: center;
  align-items: center;
}

.portfolio__filter:hover {
  background-color: #F6F6F6;
  cursor: pointer;
}

.portfolio__filter_active {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.portfolio__filter_active:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
  cursor: pointer;
}





