* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #0072e1;
  --light-color: #eef3f9;
}

.body {
  max-width: 1920px;
  min-width: 320px;
  background: url("/assets/img/background-header.jpg") no-repeat;
  background-size: 1920px 877px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--light-color);
}

.container {
  margin: 0 390px;
}

.header {
  display: flex;
  padding-top: 70px;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}

.menu__icon {
  width: 40px;
  height: 29px;
}

.menu__description {
  margin-left: 10px;
}

.logo {
  width: 240px;
}

.header__title {
  font-size: 1.2em;
  line-height: 26px;
}

.header__contact {
  max-width: 272px;
  width: 100%;
  height: 55px;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.19em;
  border: 0;
  border-radius: 10px;
}
